<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ofertas de Trabajo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .icon {
            margin-right: 8px;
        }
        .offer-number {
            font-weight: bold;
            color: #007bff; /* Color de Bootstrap para enlaces */
        }
        
    </style>
</head>
<body>
    <div class="container">
        <h1>Mejores ofertas de trabajo en Mexico -TI</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Título <i class="fas fa-briefcase icon"></i></th>
                    <th>Empresa <i class="fas fa-building icon"></i></th>
                    <th>Ubicación <i class="fas fa-map-marker-alt icon"></i></th>
                    <th>Salario <i class="fas fa-money-bill-wave icon"></i></th>
                    <th>Tipo de Trabajo <i class="fas fa-clipboard-check icon"></i></th>
                    <th>Publicado <i class="fas fa-clock icon"></i></th>
                    <th>Enlace <i class="fas fa-link icon"></i></th>
                </tr>
            </thead>
            <tbody>
                {% for title, link, company, location, salary, job_type, posted_time in jobs %}
                <tr>
                    <td></td>
                    <td>
                        <span class="offer-number">{{ loop.index }}</span> {{ title }}
                    </td>
                    <td>{{ company }}</td>
                    <td>{{ location }}</td>
                    <td>{{ salary }}</td>
                    <td>{{ job_type }}</td>
                    <td>{{ posted_time }}</td>
                    <td><a href="{{ link }}" target="_blank">Ver trabajo</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
