body {
    background-color: #f8f9fa; /* Un gris con un toque de calidez */
}

.card {
    transition: transform 0.2s; /* Efecto al pasar el mouse */
}

.card:hover {
    transform: scale(1.05); /* Aumenta tamaño al pasar el mouse */
}

/* media queries */
@media (max-width: 895px) {
    .table td, .table th {
        padding: 0.25rem;
        font-size: 0.875rem;
    }
}

@media (max-width: 737px) {
    .table td, .table th {
        padding: 0.15rem;
        font-size: 0.675rem;
    }
}

@media (max-width: 589px) {
    .table td, .table th {
        padding: 0.15rem;
        font-size: 0.475rem;
    }
}

@media (max-width: 414px) {
    .table td, .table th {
        padding: 0.15rem;
        font-size: 0.375rem;
    }
}

/* Clase para la sección con la imagen de fondo */
.header-background {
    background-image: url('img/fondo.jpg'); /* Cambia \ por / */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 150px 0; /* Aumenta el tamaño para que abarque más contenido */
    color: white;
    text-align: center;
}
    
/* Ajustes adicionales para el texto sobre la imagen */
.header-background h1,
.header-background p,
.header-background a {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Añade sombra al texto para mejorar la legibilidad */
}

/* Botón de búsqueda */
.header-background .btn {
    margin-top: 20px;
    background-color: rgb(24, 23, 23);
}
